<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.board.model.mapper.StudyMapper">
   
    <!-- 일정 조회하기 -->
    <select id="StudyCalendarList">
        SELECT
            CALENDAR_NO,
            CALENDAR_TITLE AS TITLE,
            TO_CHAR("START", 'YYYY-MM-DD"T"HH24:MI:SS') AS START1,
            TO_CHAR("END", 'YYYY-MM-DD"T"HH24:MI:SS') AS END
        FROM STUDY_CALENDAR
        WHERE STUDY_NO = #{studyNo}
    </select>

    <!-- 일정 저장하기 -->
    <!-- 저장하고 생성된 no(key) 값을 return 시킨다 -->
    <insert id="calendarSave"  useGeneratedKeys="true" keyColumn="CALENDAR_NO" keyProperty="calendarNo" >
        INSERT INTO STUDY_CALENDAR(
            CALENDAR_NO,
            CALENDAR_TITLE,
            "START",
            "END",
            MEMBER_NO,
            STUDY_NO
        ) values (
                         (SELECT NVL(MAX(CALENDAR_NO),  0) + 1 AS CALENDAR_NO  FROM CALENDAR),
                         #{title},
                         TO_DATE(#{start1}, 'YYYY-MM-DD HH24:MI:SS'),
                         TO_DATE(#{end}, 'YYYY-MM-DD HH24:MI:SS')
                 )
    </insert>

    <!-- 일정 삭제하기 -->
    <delete id="calendarDelete">
        DELETE FROM MAIN_CALENDAR WHERE CALENDAR_NO = #{no}
    </delete>


    <!-- 일정 수정하기 -->
    <update id="eventUpdate">
        UPDATE MAIN_CALENDAR SET
                            CALENDAR_TITLE = #{title} ,
                            "START" = TO_DATE(#{start1}, 'YYYY-MM-DD"T"HH24:MI:SS') ,
                            "END" = TO_DATE(#{end}, 'YYYY-MM-DD"T"HH24:MI:SS')
        WHERE CALENDAR_NO = #{calendarNo}
    </update>
    
    <!-- MemberNo 가져오기 -->
    <select id="bringStudyNo">
    	SELECT STUDY_NO
    	FROM STUDY_MEMBER
    	WHERE MEMBER_NO = #{memberNo}
    </select>
   
</mapper>
